:root {
    --primary: rgb(253, 76, 53);
    --secondary: rgb(71, 71, 71);
    --background: rgb(240, 240, 240);
    --white: #fff;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: var(--background);
}

.header {
    display: flex;
    height: 60px;
    margin-bottom: 25px;
    align-items: center;
    background: linear-gradient(60deg, var(--primary) 25ch, transparent 25.15ch);
}

h1 {
    color: white;
}

.icon_header {
    width: 30px;
    height: 30px;
    padding: 3px;
    margin: 10px;
    background-color: var(--white);
    border-radius: 50px;

}

.hidden {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 990px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.pokemon_card {
    background-color: white;
    color: var(--secondary);
    border-radius: 10px;
    min-width: 150px;
    max-width: 300px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    text-transform: capitalize;
}

.pokemon_card h2 {
    background: linear-gradient(60deg, var(--primary) 90%, transparent 90.5%);
    color: white;
    position: relative;


}